@mixin display-position {
  display: block;
  position: relative;
}
@mixin wh-auto{
  width: auto;
  height: auto;
}
@mixin class-bold{
  font-size: 16px;
  font-weight: bold;
}
@mixin inline-rel{
	display: inline-block;
	position: relative;
}